services:
    _defaults:
        autowire: true
        autoconfigure: false
        public: false

    _instanceof:
        # Tag commands for Tactician command bus
        MicroModule\Base\Application\Command\CommandInterface:
            tags: ['command']
        # Tag queries for Tactician query bus
        MicroModule\Base\Application\Query\QueryInterface:
            tags: ['query']

    ###############################
    # JWT Domain Layer
    ###############################

    # JWT Value Object Factory
    Micro\Identity\Jwt\Domain\Factory\ValueObjectFactoryInterface:
        class: Micro\Identity\Jwt\Domain\Factory\ValueObjectFactory
        public: true

    # JWT Token Generator Service
    Micro\Identity\Jwt\Domain\Service\JwtTokenGeneratorServiceInterface:
        class: Micro\Identity\Jwt\Domain\Service\JwtTokenGeneratorService
        public: true
        arguments:
            - '@Micro\Identity\Jwt\Domain\Service\JwtSignerInterface'
            - '%identity.jwt.issuer%'

    # Alias concrete class to interface to prevent autowiring conflicts
    Micro\Identity\Jwt\Domain\Service\JwtTokenGeneratorService:
        alias: Micro\Identity\Jwt\Domain\Service\JwtTokenGeneratorServiceInterface

    # JWT Token Validator Service
    Micro\Identity\Jwt\Domain\Service\JwtTokenValidatorServiceInterface:
        class: Micro\Identity\Jwt\Domain\Service\JwtTokenValidatorService
        public: true
        arguments:
            - '@Micro\Identity\Jwt\Domain\Service\JwtSignerInterface'

    # Alias concrete class to interface to prevent autowiring conflicts
    Micro\Identity\Jwt\Domain\Service\JwtTokenValidatorService:
        alias: Micro\Identity\Jwt\Domain\Service\JwtTokenValidatorServiceInterface

    ###############################
    # User Domain Layer
    ###############################

    # User Value Object Factory
    Micro\Identity\User\Domain\Factory\ValueObjectFactoryInterface:
        class: Micro\Identity\User\Domain\Factory\ValueObjectFactory
        public: true

    # User Entity Factory
    Micro\Identity\User\Domain\Factory\EntityFactoryInterface:
        class: Micro\Identity\User\Domain\Factory\EntityFactory
        public: true
        arguments:
            - '@Micro\Identity\User\Domain\Factory\EventFactoryInterface'
            - '@Micro\Identity\User\Domain\Factory\ValueObjectFactoryInterface'

    # User Event Factory
    Micro\Identity\User\Domain\Factory\EventFactoryInterface:
        class: Micro\Identity\User\Domain\Factory\EventFactory
        public: true

    # User ReadModel Factory
    Micro\Identity\User\Domain\Factory\ReadModelFactoryInterface:
        class: Micro\Identity\User\Domain\Factory\ReadModelFactory
        public: true
        arguments:
            - '@Micro\Identity\User\Domain\Factory\ValueObjectFactoryInterface'

    # Password Hasher Service
    Micro\Identity\User\Domain\Service\PasswordHasherServiceInterface:
        class: Micro\Identity\User\Domain\Service\PasswordHasherService
        public: true

imports:
    - { resource: 'parameters.yaml' }
    - { resource: './services/layer_infrastructure.yaml' }
    - { resource: './services/layer_application.yaml' }
    - { resource: './services/tactician.yaml' }
    - { resource: './services/event_queue.yaml' }
