services:
    _defaults:
        autowire: true
        autoconfigure: false
        public: true

    ###############################
    # Identity Event Queue Configuration
    ###############################

    # Queue Event Producer for Identity domain events
    event_queue.application.event_handling.queue_event.producer.identity:
        class: MicroModule\EventQueue\Application\EventHandling\QueueEventProducer
        arguments:
            - '@enqueue.transport.default.context'
            - 'identity_events'
            - '@serializer'

    # Queue Event Bus for Identity domain
    queue_event_bus.identity:
        class: MicroModule\EventQueue\Application\EventHandling\QueueEventBus
        arguments:
            - '@broadway.event_handling.event_bus'
            - '@event_queue.application.event_handling.queue_event.producer'
            - '@event_queue.application.event_handling.queue_event.producer.identity'

    ###############################
    # Identity Event Consumers
    ###############################

    # TODO: Implement Identity-specific QueueEventProcessor classes similar to
    # Micro\Article\Application\Processor\QueueEventProcessor when event consumption is needed.
    #
    # The following consumers are commented out because QueueEventConsumer class
    # does not exist in MicroModule\EventQueue. Each domain needs its own processor.
    #
    # identity.jwt.event.consumer:
    #     class: Micro\Identity\Jwt\Application\Processor\QueueEventProcessor
    #     arguments:
    #         - '@broadway.event_handling.event_bus'
    #         - '@identity.jwt.event_factory'
    #         - '@logger'
    #     tags:
    #         - { name: 'enqueue.topic_subscriber', client: 'identity_jwt' }
    #
    # identity.user.event.consumer:
    #     class: Micro\Identity\User\Application\Processor\QueueEventProcessor
    #     arguments:
    #         - '@broadway.event_handling.event_bus'
    #         - '@identity.user.event_factory'
    #         - '@logger'
    #     tags:
    #         - { name: 'enqueue.topic_subscriber', client: 'identity_user' }
